<!--<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-usuario.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Perez Maximo Nicolas</p>
        <p>FullStack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum beatae a asperiores? Accusamus impedit, adipisci quod recusandae optio itaque? Labore asperiores impedit doloremque vero cupiditate et architecto vel consequatur facere.</p>
        </span>
    </div>

</div>-->
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-usuario.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Perez Maximo Nicolas</p>
        <p>FullStack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, totam delectus non explicabo hic, ex dolorem soluta earum similique neque quibusdam illum commodi debitis at recusandae eaque corporis vitae molestias.</p>
        </span>
    </div>
</div>