.row{
    padding: 20px;
}
div{
    background-color: rgb(171, 171, 171);
    text-align: center;
}
/*etiqueta del nombre de usuario*/
#nombre{
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10px;

}
/*imagen de usuario*/
@media(min-width: 576px)
img{
    height: 200px;
    border-radius: 30px;
}