.row{
    padding: 20px;
    font-family: 'Zen Dots', cursive;
    background: rgb(153,153,153);
    background: radial-gradient(circle, rgba(153,153,153,1) 0%, rgba(144,144,148,1) 100%, rgba(184,79,159,1) 100%, rgba(170,196,198,1) 100%);
}
.contenedor{
    width: auto;

}
.part1,.part2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 20px 10px 30px rgb(0, 0, 0);

}