<div class="row">
    <h1>Habilidades Duras y Blandas</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#F36B01 '"
        [innerStrokeColor]="'#3B3939'"
        [animation]="true"
        [animationDuration]="600"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="87"
      [radius]="100"
      [imageSrc]="'../../../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="60"
      [imageWidth]="60"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#0151F3 '"
      [innerStrokeColor]="'#3B3939'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="78"
    [radius]="100"
    [imageSrc]="'../../../assets/js.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#E9E619 '"
    [innerStrokeColor]="'#3B3939'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="65"
  [radius]="100"
  [imageSrc]="'../../../assets/eng.png'"
  [showImage]="true"
  [imageHeight]="60"
  [imageWidth]="60"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#807F7F '"
  [innerStrokeColor]="'#3B3939'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="90"
  [radius]="100"
  [imageSrc]="'../../../assets/grupo.png'"
  [showImage]="true"
  [imageHeight]="60"
  [imageWidth]="60"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#807F7F '"
  [innerStrokeColor]="'#3B3939'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="75"
  [radius]="100"
  [imageSrc]="'../../../assets/github.png'"
  [showImage]="true"
  [imageHeight]="60"
  [imageWidth]="60"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#9B71B8'"
  [innerStrokeColor]="'#3B3939'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
</div>


   


 </div>
